@import './fonts.css';
@import './colors.css';
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: calc(100vh - 8.125rem);
}

h1 {
    font-family: var(--lora);
    color: var(--red);
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: -2.5rem;
}

.sistema {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bolinhas {
    margin-bottom: 2rem;
}

.urinario img {
    margin-bottom: 0.3rem;
}