@import './colors.css';
@import './fonts.css';
@import '../style.css';

.efeito {
    position: relative;
}

.texto {
    visibility: hidden;
    position: absolute;
    left: -0.01rem;
    right: -0.05rem;
    bottom: 0.5rem;
}

.texto1 {
    visibility: hidden;
    position: absolute;
    left: 0.17rem;
    right: 0.15rem;
    bottom: 0.7rem;
}

.texto1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--livvic);
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    font-weight: 600;
    background: var(--gray-transparent);
    border-radius: 15px;
    padding-block: 6.85rem;
}

.texto p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--livvic);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background: var(--gray-transparent);
    padding-inline: 3.75rem;
    padding-block: 7rem;
    border-radius: 15px;
}

.efeito:hover .texto, .efeito:hover .texto1 {
    visibility: visible;
    cursor: pointer;
}