@import './fonts.css';
@import './colors.css';

dialog {
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 40%;
}

.fechar img, .fechar2 img, .fechar3 img {
    width: 2.375rem;
}

.fechar, .fechar2, .fechar3 {
    border: none;
    background: none;
}

button {
    border: none;
    background: none;
}

h2 {
    font-family: var(--lora);
    color: var(--red);
    font-size: 2rem;
}

h3 {
    font-family: var(--livvic);
    font-size: 1.25rem;
}